@font-face {
    font-family: 'Dearest';
    src: url('../fonts/Dearest/Dearest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dearest';
    src: url('../fonts/Dearest/Dearest_open.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Dearest';
    src: url('../fonts/Dearest/Dearest_outline') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
}

body {
    max-width: 480px;
    margin: 20px auto;
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: Arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
.site-title {
    font-family: Dearest, Arial;
    font-size: 300%;
    text-size-adjust: 100%;
    color: lime;
}
h2 {
    font-size: 200%;
}
.container{
	width: 100%;
	position: relative;
	text-align: center;
}
.information {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    margin: 20px 10px; 
    padding: 5px;
    border: 3px solid blue; 
    border-radius: 10px 10px; 
    box-shadow: #999 10px 10px; 
    background-color: white; 
    opacity: 0.85;
    font-family: ArchitectsDaughter, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Some common styles for the transition effect */
.te-container{
	width: 300px;
	margin: 0px auto 40px auto;
}
.te-controls{
	height: 40px;
	position: relative;
}
.te-container select, a.te-next{
	display: inline-block;
	border: 1px solid #999;
	padding: 5px 20px 5px 5px;
	font-size: 15px;
	color: #444;
	line-height: 18px;
	background: white;
	cursor: pointer;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: url(../images/arrow.png) no-repeat 95% 50%, -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	-webkit-appearance: none;
	-moz-appearance: none;
	text-overflow: ellipsis;
	-webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	-moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	box-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	float: left;
}
.te-container select:hover, a.te-next:hover{
	color: #000;
}
.te-container select:active{
	background: #e5e5e5;
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff));
	background: url(../images/arrow.png) no-repeat 95% 50%, -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
}
 a.te-next{
	float: right;
	margin-top: 5px;
	padding: 5px 10px;
	font-weight: bold;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
}
a.te-next:active{
	background: #e5e5e5;
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
}
.te-container select:focus{
	outline: none;
}
.te-shadow{
	position: absolute;
	top: 30px;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-left: -186px;
	background: transparent url(../images/shadow.png) no-repeat center bottom;
}
.te-wrapper{
	position: relative;
	width: 300px;
	height: 300px;
}